First step: Find the basic data - 
- input
    - Win percentage
    - Game# in season for each team
- output
    - Result of game

import libraries:

In [1]:
import pybaseball 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from pybaseball.retrosheet import *

In [2]:
bbref_current_teams = ["ARI","ATL","BAL","BOS","CHC","CHW","CIN","CLE","COL",
                      "DET","HOU","KCR","LAA","LAD","MIA","MIL","MIN","NYM",
                      "NYY","OAK","PHI","PIT","SDP","SEA","SFG","STL","TBR",
                       "TEX","TOR","WSN"]

retrosheet_current_teams = ["ANA","BAL","BOS","CHA","CLE","DET","HOU","KCA",
                            "MIN","NYA","OAK","SEA","TBA","TEX","TOR","ARI",
                            "ATL","CHN","CIN","COL","LAN","MIA","MIL","NYN",
                            "PHI","PIT","SDN","SFN","SLN","WAS"]

bbref_to_retrosheet = {"ARI":"ARI","ATL":"ATL","BAL":"BAL","BOS":"BOS","CHC":"CHN","CHW":"CHA","CIN":"CIN","CLE":"CLE","COL":"COL",
                      "DET":"DET","HOU":"HOU","KCR":"KCA","LAA":"ANA","LAD":"LAN","MIA":"MIA","MIL":"MIL","MIN":"MIN","NYM":"NYN",
                      "NYY":"NYA","OAK":"OAK","PHI":"PHI","PIT":"PIT","SDP":"SDN","SEA":"SEA","SFG":"SFN","STL":"SLN","TBR":"TBA",
                       "TEX":"TEX","TOR":"TOR","WSN":"WAS"}

retrosheet_to_bbref = {v: k for k, v in bbref_to_retrosheet.items()}

In [3]:
bbref_to_retrosheet["LAA"]

'ANA'

In [4]:
data = pybaseball.schedule_and_record(2019, "HOU").columns
data = pd.DataFrame(columns=data)


def getTeamSchedules(initial_year,final_year):
    teamdata = []
    
    for team in bbref_current_teams:
        df = pybaseball.schedule_and_record(initial_year, team)
        for year in range(initial_year+1,final_year+1):
            df = df.append(pybaseball.schedule_and_record(year, team))
        teamdata.append(df)
    return teamdata

In [5]:
curr  = getTeamSchedules(2019,2019)

In [6]:
len(curr[0])

162

test to see if I can find last n wins

In [7]:
season = curr[0]
season["WIN"] = ["1" if row[0] == "W" else "0" for row in season["W/L"]]
################ YES
season["L10%"] = season["WIN"].shift().rolling(10).sum()/10
season[:20]

,Date,Tm,Home_Away,Opp,W/L,R,RA,Inn,W-L,Rank,...,Loss,Save,Time,D/N,Attendance,cLI,Streak,Orig. Scheduled,WIN,L10%
1,"Thursday, Mar 28",ARI,@,LAD,L,5.0,12.0,9.0,0-1,4.0,...,Greinke,None,2:49,D,53086.0,1.08,-1,None,0,NaN
2,"Friday, Mar 29",ARI,@,LAD,W,5.0,4.0,13.0,1-1,3.0,...,Garcia,Holland,6:05,N,42266.0,.99,1,None,1,NaN
3,"Saturday, Mar 30",ARI,@,LAD,L,5.0,18.0,9.0,1-2,4.0,...,Godley,None,3:14,N,50626.0,1.06,-1,None,0,NaN
4,"Sunday, Mar 31",ARI,@,LAD,L,7.0,8.0,9.0,1-3,4.0,...,Hirano,Jansen,3:29,D,43815.0,1.04,-2,None,0,NaN
5,"Monday, Apr 1",ARI,@,SDP,W,10.0,3.0,9.0,2-3,3.0,...,Strahm,Duplantier,3:04,N,18683.0,.98,1,None,1,NaN
6,"Tuesday, Apr 2",ARI,@,SDP,W,8.0,5.0,9.0,3-3,2.0,...,Lauer,Holland,3:21,N,22504.0,1.05,2,None,1,NaN
7,"Wednesday, Apr 3",ARI,@,SDP,L,1.0,4.0,9.0,3-4,3.0,...,Ray,None,2:59,D,19376.0,1.14,-1,None,0,NaN
8,"Friday, Apr 5",ARI,Home,BOS,W,15.0,8.0,9.0,4-4,3.0,...,Porcello,None,3:23,D,48338.0,.91,1,None,1,NaN
9,"Saturday, Apr 6",ARI,Home,BOS,W-wo,5.0,4.0,9.0,5-4,3.0,...,Brewer,None,3:19,N,35969.0,.94,2,None,1,NaN
10,"Sunday, Apr 7",ARI,Home,BOS,L,0.0,1.0,9.0,5-5,3.0,...,Kelly,Brasier,2:29,D,31565.0,.98,-1,None,0,NaN
11,"Tuesday, Apr 9",ARI,Home,TEX,W-wo,5.0,4.0,9.0,6-5,3.0,...,Leclerc,None,2:48,N,16620.0,.96,1,None,1,0.5
12,"Wednesday, Apr 10",ARI,Home,TEX,L,2.0,5.0,9.0,6-6,3.0,...,Chafin,Bird,3:35,N,15871.0,.98,-1,None,0,0.6
13,"Thursday, Apr 11",ARI,Home,SDP,L,6.0,7.0,9.0,6-7,3.0,...,Bradley,Wingenter,3:13,N,15449.0,1.16,-2,None,0,0.5
14,"Friday, Apr 12",ARI,Home,SDP,L,1.0,2.0,9.0,6-8,3.0,...,Weaver,Yates,2:38,N,22209.0,1.11,-3,None,0,0.5
15,"Saturday, Apr 13",ARI,Home,SDP,L,4.0,5.0,9.0,6-9,4.0,...,Andriese,Yates,3:41,N,27256.0,1.08,-4,None,0,0.5
16,"Sunday, Apr 14",ARI,Home,SDP,W,8.0,4.0,9.0,7-9,3.0,...,Lauer,None,2:49,D,25489.0,1.02,1,None,1,0.4
17,"Tuesday, Apr 16",ARI,@,ATL,W,9.0,6.0,9.0,8-9,3.0,...,Minter,Holland,3:36,N,22407.0,.92,2,None,1,0.4
18,"Wednesday, Apr 17",ARI,@,ATL,W,3.0,2.0,10.0,9-9,3.0,...,Biddle,Holland,3:32,N,22356.0,.96,3,None,1,0.5
19,"Thursday, Apr 18",ARI,@,ATL,W,4.0,1.0,9.0,10-9,3.0,...,Soroka,Hirano,3:25,D,24193.0,.97,4,None,1,0.5
20,"Friday, Apr 19",ARI,@,CHC,L,1.0,5.0,9.0,10-10,3.0,...,Kelly,Strop,3:24,D,33938.0,1.00,-1,None,0,0.5

In [8]:
# CAN NOW ARBI

In [9]:
data = season_game_logs(2019)

In [10]:
new = data.query('visiting_team == "{team}" | home_team == "{team}"'.format(team="HOU"))
new.head()

,date,game_num,day_of_week,visiting_team,visiting_team_league,visiting_team_game_num,home_team,home_team_league,home_team_game_num,visiting_score,...,home_7_name,home_7_pos,home_8_id,home_8_name,home_8_pos,home_9_id,home_9_name,home_9_pos,misc,acquisition_info
14,20190328,0,Thu,HOU,AL,1,TBA,AL,1,5,...,Willy Adames,6,kierk001,Kevin Kiermaier,8,zunim001,Mike Zunino,2,NaN,Y
23,20190329,0,Fri,HOU,AL,2,TBA,AL,2,2,...,Kevin Kiermaier,8,adamw002,Willy Adames,6,zunim001,Mike Zunino,2,NaN,Y
36,20190330,0,Sat,HOU,AL,3,TBA,AL,3,1,...,Avisail Garcia,9,kierk001,Kevin Kiermaier,8,perem005,Michael Perez,2,NaN,Y
51,20190331,0,Sun,HOU,AL,4,TBA,AL,4,1,...,Guillermo Heredia,8,wendj002,Joey Wendle,4,adamw002,Willy Adames,6,NaN,Y
65,20190401,0,Mon,HOU,AL,5,TEX,AL,4,2,...,Ronald Guzman,3,kinei001,Isiah Kiner-Falefa,2,deshd002,Delino DeShields,8,NaN,Y

In [11]:
data[-1:][['visiting_team','home_team','visiting_team_game_num','home_team_game_num']]

     visiting_team home_team  visiting_team_game_num  home_team_game_num
2428           TBA       TOR                     162                 162

In [12]:
def get_last_n(team, game, n):
    season = data.query('visiting_team == "{team}" | home_team == "{team}"'.format(team=team))
    sum = 0
    return season[game-n:game]
    
#     print(season[game-n:game][['W/L']])

get_last_n("HOU",162,10)

,date,game_num,day_of_week,visiting_team,visiting_team_league,visiting_team_game_num,home_team,home_team_league,home_team_game_num,visiting_score,...,home_7_name,home_7_pos,home_8_id,home_8_name,home_8_pos,home_9_id,home_9_name,home_9_pos,misc,acquisition_info
2279,20190918,0,Wed,TEX,AL,153,HOU,AL,153,2,...,Kyle Tucker,9,diaza003,Aledmys Diaz,5,maldm001,Martin Maldonado,2,NaN,Y
2302,20190920,0,Fri,ANA,AL,154,HOU,AL,154,4,...,Josh Reddick,9,chirr001,Robinson Chirinos,2,marij002,Jake Marisnick,8,NaN,Y
2317,20190921,0,Sat,ANA,AL,155,HOU,AL,155,8,...,Kyle Tucker,7,maldm001,Martin Maldonado,2,stram002,Myles Straw,8,NaN,Y
2332,20190922,0,Sun,ANA,AL,156,HOU,AL,156,5,...,Aledmys Diaz,5,chirr001,Robinson Chirinos,2,reddj001,Josh Reddick,9,NaN,Y
2354,20190924,0,Tue,HOU,AL,157,SEA,AL,157,3,...,Daniel Vogelbach,10,gordd002,Dee Gordon,4,smitm007,Mallex Smith,8,NaN,Y
2369,20190925,0,Wed,HOU,AL,158,SEA,AL,158,3,...,Tom Murphy,2,gordd002,Dee Gordon,4,lopet001,Tim Lopes,9,NaN,Y
2379,20190926,0,Thu,HOU,AL,159,ANA,AL,159,3,...,Brian Goodwin,8,cowak001,Kaleb Cowart,5,hermm001,Michael Hermosillo,7,NaN,Y
2392,20190927,0,Fri,HOU,AL,160,ANA,AL,160,4,...,Matt Thaiss,5,hermm001,Michael Hermosillo,8,bemba001,Anthony Bemboom,2,NaN,Y
2406,20190928,0,Sat,HOU,AL,161,ANA,AL,161,6,...,Jared Walsh,3,wardt002,Taylor Ward,7,cowak001,Kaleb Cowart,5,NaN,Y
2422,20190929,0,Sun,HOU,AL,162,ANA,AL,162,8,...,Taylor Ward,7,thaim001,Matt Thaiss,5,bemba001,Anthony Bemboom,2,NaN,Y

0       Empty DataFrame
Columns: [date, game_num, day_...
1       Empty DataFrame
Columns: [date, game_num, day_...
2       Empty DataFrame
Columns: [date, game_num, day_...
3       Empty DataFrame
Columns: [date, game_num, day_...
4       Empty DataFrame
Columns: [date, game_num, day_...
                              ...
2424              date  game_num day_of_week visiting_...
2425              date  game_num day_of_week visiting_...
2426              date  game_num day_of_week visiting_...
2427              date  game_num day_of_week visiting_...
2428              date  game_num day_of_week visiting_...
Length: 2429, dtype: object